# Data Prep

In [1]:
import pandas as pd
import numpy as np

members = pd.read_csv('Members Report - as of 31-Dec-2023.csv')
deposits = pd.read_csv('Sales Report 1-1-2017 - 12-31-2023-Deposits.csv')
sales = pd.read_csv('Sales Report 1-1-2017 - 12-31-2023-Sales.csv', encoding='ISO-8859-1')
schedule = pd.read_csv('ScheduleAtAGlance Report 1-1-2017 - 12-31-2023.csv')
metrics = pd.read_csv('Therapist Metrics Jan 1 2019 - Dec 31 2023.csv')
turnover = pd.read_csv('Therapist Turnover by Therapist Jan 1 2019 - Dec 31 2023.csv')

/var/folders/dw/5lrf5nls49q7nfzf83vn454h0000gn/T/ipykernel_89113/746181859.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv('Sales Report 1-1-2017 - 12-31-2023-Sales.csv', encoding='ISO-8859-1')

## members

In [2]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1737 entries, 0 to 1736
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BarcodeID            1737 non-null   object
 1   Client Name          0 non-null      float64
 2   Status               1737 non-null   object
 3   Membership Tier      1737 non-null   object
 4   Phone                0 non-null      float64
 5   Email Address        0 non-null      float64
 6   Joined On            1737 non-null   object
 7   Location             1737 non-null   object
 8   Next AutoPay Date    875 non-null    object
 9   Next AutoPay Amount  1737 non-null   float64
 10  Lifetime Sales       1737 non-null   float64
 11  Is New Member?       15 non-null     object
dtypes: float64(5), object(7)
memory usage: 163.0+ KB

In [3]:
members.describe()

       Client Name  Phone  Email Address  Next AutoPay Amount  Lifetime Sales
count          0.0    0.0            0.0          1737.000000     1737.000000
mean           NaN    NaN            NaN            50.751295     2620.992913
std            NaN    NaN            NaN            51.625281     2794.859996
min            NaN    NaN            NaN             0.000000        0.000000
25%            NaN    NaN            NaN             0.000000      798.000000
50%            NaN    NaN            NaN            79.000000     1660.000000
75%            NaN    NaN            NaN            89.000000     3441.000000
max            NaN    NaN            NaN           179.000000    37239.500000

In [4]:
(members['Status'] == 'Active').sum()

968

In [5]:
members.shape[0]-(members['Status'] == 'Active').sum()

769

In [6]:
members.shape

(1737, 12)

In [7]:
members = members.drop(['Client Name', 'Phone', 'Email Address'], axis = 1)
members['Membership Autopay'] = members['Next AutoPay Amount'].apply(lambda x: 'Yes' if x == 0 else 'No')
members = members.drop(columns=['Lifetime Sales'])
members['Is New Member?'] = members['Is New Member?'].fillna('No')

In [8]:
members.shape

(1737, 9)

## deposits

In [9]:
deposits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4305 entries, 0 to 4304
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sale Date          4305 non-null   object
 1   Client ID          4290 non-null   object
 2   Client             0 non-null      float64
 3   Sale ID            4305 non-null   int64
 4   Item name          4305 non-null   object
 5   Batch #            4305 non-null   object
 6   Sales Notes        4 non-null      object
 7   Location           4305 non-null   object
 8   Notes              1368 non-null   object
 9   Color              4305 non-null   object
 10  Size               4305 non-null   object
 11  Item price         4305 non-null   float64
 12  Quantity           4305 non-null   float64
 13  Subtotal           4305 non-null   float64
 14  Discount %         4305 non-null   float64
 15  Discount amount    4305 non-null   float64
 16  Tax                4305 non-null   float64
 17  Item Total         4305 non-null   float64
 18  Remaining Balance  4305 non-null   float64
 19  Payment Method     4305 non-null   object
dtypes: float64(9), int64(1), object(10)
memory usage: 672.8+ KB

In [10]:
deposits.describe()

,Client,Sale ID,Item price,Quantity,Subtotal,Discount %,Discount amount,Tax,Item Total,Remaining Balance
count,0.0,4305.000000,4305.000000,4305.00000,4305.000000,4305.00000,4305.000000,4305.0,4305.000000,4305.000000
mean,NaN,156135.877584,101.124836,0.98374,99.666750,22.26797,30.751329,0.0,68.862706,65.251895
std,NaN,106450.255362,53.124418,0.17962,55.812572,19.02148,28.295082,0.0,32.163377,35.021364
min,NaN,14501.000000,1.000000,-1.00000,-189.000000,-61.63000,-48.460000,0.0,-189.000000,-189.000000
25%,NaN,48686.000000,43.400000,1.00000,43.400000,0.00000,0.000000,0.0,43.400000,35.990000
50%,NaN,168949.000000,109.000000,1.00000,109.000000,33.19000,39.500000,0.0,74.500000,69.500000
75%,NaN,284042.000000,129.000000,1.00000,129.000000,38.37000,49.500000,0.0,89.000000,84.500000
max,NaN,288960.000000,218.000000,1.00000,218.000000,61.63000,94.500000,0.0,218.000000,291.000000

In [11]:
deposits.shape

(4305, 20)

In [12]:
deposits = deposits.dropna(subset=['Client ID'])

In [13]:
deposits.shape

(4290, 20)

In [14]:
columns_to_drop = ['Client', 'Sales Notes', 'Notes', 'Color', 'Size', 'Batch #']

deposits = deposits.drop(columns=columns_to_drop, axis=1)

In [15]:
deposits = deposits[deposits['Quantity'] == 1]

In [16]:
deposits.columns

Index(['Sale Date', 'Client ID', 'Sale ID', 'Item name', 'Location',
       'Item price', 'Quantity', 'Subtotal', 'Discount %', 'Discount amount',
       'Tax', 'Item Total', 'Remaining Balance', 'Payment Method'],
      dtype='object')

In [17]:
deposits['Item name'].unique()

array(['1 Hour Massage Session Gift Card', 'Account Balance Adjustment',
       '90 Min Massage Session Gift Card',
       'Groupon - 90 Min Massage Session',
       'Groupon - 1 Hour Massage Session',
       'SpaFinder Wellness 365/SpaWish', 'Spa Week gift card',
       'Hot Stone 90 Min Massage Session Gift Card', 'Payment on Account',
       'Client Credit', 'AromaRitual 1 Hour Massage Session Gift Card',
       'AromaRitual 90 Min Massage Session Gift Card',
       'AromaRitual 2 Hour Massage Session Gift Card',
       'Holiday - $30 off 90 Min Massage Session Gift Card',
       'Holiday - $30 off 1 Hour Massage Session Gift Card',
       'Member - 1 Hour Massage Session Gift Card {M}',
       'Member - 90 Min Massage Session Gift Card {M}'], dtype=object)

In [18]:
deposits['Col1'] = deposits['Item name'].str.split('{').str[1]
deposits['Col1'].str.strip()
deposits['Item Description'] = deposits['Item name'].str.split('{').str[0]
deposits['Item Description'] = deposits['Item Description'].str.strip()
deposits['Item Description'] = deposits['Item Description'].str.upper()
deposits['Col1'] = deposits['Col1'].str.replace('}','')

deposits.loc[deposits['Col1'] == 'M', 'Membership'] = 'Member'
deposits['Membership'] = deposits['Membership'].fillna("Non-Member")

deposits = deposits.drop(['Col1', 'Item name'], axis=1)

deposits.columns

Index(['Sale Date', 'Client ID', 'Sale ID', 'Location', 'Item price',
       'Quantity', 'Subtotal', 'Discount %', 'Discount amount', 'Tax',
       'Item Total', 'Remaining Balance', 'Payment Method', 'Item Description',
       'Membership'],
      dtype='object')

In [19]:
deposits['Item Description'].value_counts()

Item Description
1 HOUR MASSAGE SESSION GIFT CARD                      1785
90 MIN MASSAGE SESSION GIFT CARD                       931
GROUPON - 1 HOUR MASSAGE SESSION                       863
GROUPON - 90 MIN MASSAGE SESSION                       475
PAYMENT ON ACCOUNT                                      85
ACCOUNT BALANCE ADJUSTMENT                              40
SPAFINDER WELLNESS 365/SPAWISH                          19
MEMBER - 1 HOUR MASSAGE SESSION GIFT CARD               19
AROMARITUAL 1 HOUR MASSAGE SESSION GIFT CARD             9
MEMBER - 90 MIN MASSAGE SESSION GIFT CARD                9
HOT STONE 90 MIN MASSAGE SESSION GIFT CARD               6
SPA WEEK GIFT CARD                                       5
HOLIDAY - $30 OFF 90 MIN MASSAGE SESSION GIFT CARD       3
CLIENT CREDIT                                            2
AROMARITUAL 2 HOUR MASSAGE SESSION GIFT CARD             2
AROMARITUAL 90 MIN MASSAGE SESSION GIFT CARD             1
HOLIDAY - $30 OFF 1 HOUR MASSAGE SESSION GIFT CARD       1
Name: count, dtype: int64

In [20]:
deposits.shape

(4255, 15)

#### Add Summarized Features and Group by

In [21]:
# Convert 'Sale Date' to datetime for accurate processing
deposits['Sale Date'] = pd.to_datetime(deposits['Sale Date'])

# Calculate first and last deposit date, and deposit frequency for each client
deposits['First_Deposit_Date'] = deposits.groupby('Client ID')['Sale Date'].transform('min')
deposits['Last_Deposit_Date'] = deposits.groupby('Client ID')['Sale Date'].transform('max')
deposits['Deposit_Frequency'] = deposits.groupby('Client ID')['Sale Date'].transform('count')

# Sort deposits to get the last deposit membership correctly
deposits_sorted = deposits.sort_values(by=['Client ID', 'Sale Date'])
last_membership = deposits_sorted.drop_duplicates('Client ID', keep='last')[['Client ID', 'Membership']]
last_membership.rename(columns={'Membership': 'Last_Deposit_Membership'}, inplace=True)

# Merge to get the Last_Deposit_Membership for each client
deposits = deposits.merge(last_membership, on='Client ID', how='left')

/var/folders/dw/5lrf5nls49q7nfzf83vn454h0000gn/T/ipykernel_89113/2010753310.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  deposits['Sale Date'] = pd.to_datetime(deposits['Sale Date'])

In [22]:
deposits.shape

(4255, 19)

### Group by

In [23]:
grouped_deposits = deposits.groupby('Client ID').agg({
    'First_Deposit_Date': 'max',
    'Last_Deposit_Date': 'max',
    'Deposit_Frequency': 'max',
    'Last_Deposit_Membership': 'max'
}).reset_index()

In [24]:
grouped_deposits.shape

(2621, 5)

In [25]:
grouped_deposits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2621 entries, 0 to 2620
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Client ID                2621 non-null   object
 1   First_Deposit_Date       2621 non-null   datetime64[ns]
 2   Last_Deposit_Date        2621 non-null   datetime64[ns]
 3   Deposit_Frequency        2621 non-null   int64
 4   Last_Deposit_Membership  2621 non-null   object
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 102.5+ KB

In [26]:
grouped_deposits.describe()

,First_Deposit_Date,Last_Deposit_Date,Deposit_Frequency
count,2621,2621,2621.000000
mean,2020-07-01 00:04:56.680656384,2020-09-17 08:27:39.214040320,1.623426
min,2017-01-03 00:00:00,2017-01-03 00:00:00,1.000000
25%,2018-09-13 00:00:00,2018-10-18 00:00:00,1.000000
50%,2019-11-14 00:00:00,2019-12-22 00:00:00,1.000000
75%,2022-11-04 00:00:00,2022-12-18 00:00:00,2.000000
max,2023-12-29 00:00:00,2023-12-31 00:00:00,40.000000
std,NaN,NaN,1.619929

## sales

In [27]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77731 entries, 0 to 77730
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sale Date                     77731 non-null  object
 1   Client ID                     77701 non-null  object
 2   Client                        0 non-null      float64
 3   Sale ID                       77731 non-null  int64
 4   Item name                     77731 non-null  object
 5   Batch #                       77731 non-null  object
 6   Sales Notes                   82 non-null     object
 7   Location                      77731 non-null  object
 8   Notes                         293 non-null    object
 9   Color                         77731 non-null  object
 10  Size                          77731 non-null  object
 11  Item price                    77731 non-null  float64
 12  Quantity                      77731 non-null  float64
 13  Subtotal                      77731 non-null  float64
 14  Discount %                    77731 non-null  float64
 15  Discount amount               77731 non-null  float64
 16  Tax                           77731 non-null  float64
 17  Item Total                    77731 non-null  float64
 18  Total Paid w/ Payment Method  77731 non-null  float64
 19  Payment Method                77731 non-null  object
dtypes: float64(9), int64(1), object(10)
memory usage: 11.9+ MB

In [28]:
sales.describe()

,Client,Sale ID,Item price,Quantity,Subtotal,Discount %,Discount amount,Tax,Item Total,Total Paid w/ Payment Method
count,0.0,77731.000000,77731.000000,77731.000000,77731.000000,77731.000000,77731.000000,77731.0,77731.000000,77731.000000
mean,NaN,159762.798600,82.463062,0.984691,81.208176,4.007805,3.127882,0.0,77.728045,69.516016
std,NaN,90962.135599,45.285469,0.174311,47.499106,11.253129,9.654131,0.0,46.335400,44.710622
min,NaN,14501.000000,0.000000,-1.000000,-189.000000,-62.500000,-70.000000,0.0,-179.000000,-279.700000
25%,NaN,58265.500000,69.000000,1.000000,69.000000,0.000000,0.000000,0.0,69.000000,50.000000
50%,NaN,172764.000000,79.000000,1.000000,79.000000,0.000000,0.000000,0.0,79.000000,79.000000
75%,NaN,246706.000000,109.000000,1.000000,109.000000,0.000000,0.000000,0.0,99.000000,89.000000
max,NaN,290383.000000,3088.000000,1.000000,3088.000000,100.000000,109.000000,0.0,3088.000000,3088.000000

In [29]:
sales.shape

(77731, 20)

In [30]:
sales = sales.drop(['Client', 'Sales Notes', 'Notes', 'Color', 'Size'], axis=1)
sales = sales[sales['Quantity'] == 1]

In [31]:
sales = sales.dropna(subset=['Client ID'])

In [32]:
sales.shape

(77109, 15)

In [33]:
sorted(sales['Item name'].unique())

['1 Hour Massage Session',
 '1 Hour Massage Session {1}',
 '1 Hour Massage Session {90}',
 '1 Hour Massage Session {M}',
 '1 Hour Massage Session {NA}',
 '1 Hour Massage Session {National Access}',
 '1 Hour Massage Session {Non-Member}',
 '2 Hour Massage Session',
 '2 Hour Massage Session {1}',
 '2 Hour Massage Session {2}',
 '2 Hour Massage Session {90}',
 '2 Hour Massage Session {M}',
 '2 Hour Massage Session {Non-Member}',
 '30 Min Massage Session',
 '30 Min Massage Session {1}',
 '30 Min Massage Session {90}',
 '30 Min Massage Session {M}',
 '30 Min Massage Session {NA}',
 '30 Min Massage Session {National Access}',
 '30 Min Massage Session {Non-Member}',
 '90 Min Massage Session',
 '90 Min Massage Session {1}',
 '90 Min Massage Session {90}',
 '90 Min Massage Session {M}',
 '90 Min Massage Session {NA}',
 '90 Min Massage Session {National Access}',
 '90 Min Massage Session {Non-Member}',
 'AromaRitual (Seasonal) {Member}',
 'AromaRitual (Seasonal) {M}',
 'AromaRitual (Seasonal) {Non-Member}',
 'AromaRitual Calm',
 'AromaRitual Calm {Member}',
 'AromaRitual Calm {M}',
 'AromaRitual Calm {Non-Member}',
 'AromaRitual Energize',
 'AromaRitual Energize {M}',
 'AromaRitual Energize {Non-Member}',
 'AromaRitual Refresh',
 'AromaRitual Refresh {Member}',
 'AromaRitual Refresh {M}',
 'AromaRitual Refresh {Non-Member}',
 'AromaRitual Sweet Orange {Member}',
 'AromaRitual Sweet Orange {M}',
 'Aromatherapy (Seasonal) Add-On {M}',
 'Aromatherapy Add-On',
 'Aromatherapy Add-On {M}',
 'Associate Member {1}',
 'Associate Member {M}',
 'Chair Massage Session - Outcall',
 'Couples 1 Hour Massage Session',
 'Couples 1 Hour Massage Session {1}',
 'Couples 1 Hour Massage Session {M}',
 'Couples 1 Hour Massage Session {NA}',
 'Couples 90 Min Massage Session',
 'Couples 90 Min Massage Session {1}',
 'Couples 90 Min Massage Session {90}',
 'Couples 90 Min Massage Session {M}',
 'Couples Cupping 90 Min Massage Session {M}',
 'Couples Hot Stone 1 Hour Massage Session',
 'Couples Hot Stone 1 Hour Massage Session {1}',
 'Couples Hot Stone 90 Min Massage Session',
 'Couples Hot Stone 90 Min Massage Session {1}',
 'Couples Prenatal 1 Hour Massage Session',
 'Couples {Member}',
 'Couples {Non-Member}',
 'Cpls Him. Salt Stone 1 Hour Massage Session',
 'Cpls Him. Salt Stone 1 Hour Massage Session {M}',
 'Cpls Him. Salt Stone 2 Hour Massage Session',
 'Cpls Him. Salt Stone 90 Min Massage Session {M}',
 'Cupping - 1 Hour {Member}',
 'Cupping - 1 Hour {Non-Member}',
 'Cupping - 2 Hour {Member}',
 'Cupping - 2 Hour {Non-Member}',
 'Cupping - 90 Min {Member}',
 'Cupping - 90 Min {Non-Member}',
 'Cupping 1 Hour Massage Session',
 'Cupping 1 Hour Massage Session {M}',
 'Cupping 2 Hour Massage Session {M}',
 'Cupping 90 Min Massage Session',
 'Cupping 90 Min Massage Session {M}',
 'Elite Level - 1 Hour {Member}',
 'Elite Level - 1 Hour {Non-Member}',
 'Elite Level - 2 Hour {Member}',
 'Elite Level - 90 Min {Member}',
 'Elite Level - 90 Min {Non-Member}',
 'Gift Card Sales - Outside Event',
 'Herbal Ritual',
 'Herbal Ritual {Member}',
 'Herbal Ritual {M}',
 'Herbal Ritual {Non-Member}',
 'Himalayan Salt Stone - 1 Hour {Member}',
 'Himalayan Salt Stone - 1 Hour {Non-Member}',
 'Himalayan Salt Stone - 2 Hour {Member}',
 'Himalayan Salt Stone - 2 Hour {Non-Member}',
 'Himalayan Salt Stone - 90 Min {Member}',
 'Himalayan Salt Stone - 90 Min {Non-Member}',
 'Himalayan Salt Stone 1 Hour Massage Session',
 'Himalayan Salt Stone 1 Hour Massage Session {M}',
 'Himalayan Salt Stone 1 Hour Massage Session {NA}',
 'Himalayan Salt Stone 2 Hour Massage Session',
 'Himalayan Salt Stone 2 Hour Massage Session {M}',
 'Himalayan Salt Stone 90 Min Massage Session',
 'Himalayan Salt Stone 90 Min Massage Session {M}',
 'Himalayan Salt Stone 90 Min Massage Session {NA}',
 'Hot Stone - 1 Hour {Member}',
 'Hot Stone - 90 Min {Member}',
 'Hot Stone 1 Hour Massage Session',
 'Hot Stone 1 Hour Massage Session {1}',
 'Hot Stone 1 Hour Massage Session {90}',
 'Hot Stone 1 Hour Massage Session {M}',
 'Hot Stone 2 Hour Massage Session {90}',
 'Hot Stone 90 Min Massage Session',
 'Hot Stone 90 Min Massage Session {1}',
 'Hot Stone 90 Min Massage Session {90}',
 'Late Cancel Fee',
 'Late Cancel Fee - 1 Hour Session {Member}',
 'Late Cancel Fee - 1 Hour Session {Non-Member}',
 'Late Cancel Fee - 90 Min Session {Member}',
 'Late Cancel Fee - 90 Min Session {Non-Member}',
 'LocBox Purchase',
 'Manager/Owner 1 Hour Massage Session',
 'Manager/Owner 30 Min Massage Session',
 'Manager/Owner 90 Min Massage Session',
 'Manager/Owner Hot Stone 1 Hour Massage Session',
 'Manager/Owner Hot Stone 90 Min Massage Session',
 'Member Promo Special - 90-Minute',
 'Member Promo Special 1 Hour Massage',
 'Monthly - 1 Hour Massage Session',
 'Monthly - 2 Hour Massage Session',
 'Monthly - 90 Min Massage Session',
 'New Member Signup {1}',
 'New Member Signup {2}',
 'New Member Signup {90}',
 'New Member Signup {M}',
 'Prenatal 1 Hour Massage Session',
 'Prenatal 1 Hour Massage Session {1}',
 'Prenatal 1 Hour Massage Session {M}',
 'Prenatal 1 Hour Massage Session {Non-Member}',
 'Prenatal 90 Min Massage Session',
 'Prenatal 90 Min Massage Session {M}',
 'Prenatal 90 Min Massage Session {Non-Member}',
 'The Elements PromiseÂª',
 'Therapist Trade 90 Min Massage Session',
 'Wellness Program - 1 Hour',
 'Wellness Program - 2 Hour',
 'Wellness Program - 90 Min']

In [34]:
sales.shape

(77109, 15)

In [35]:
sales['Col1'] = sales['Item name'].str.split('{').str[1]
sales['Col1'].str.strip()
sales['Item Description'] = sales['Item name'].str.split('{').str[0]
sales['Item Description'] = sales['Item Description'].str.strip()
sales['Item Description'] = sales['Item Description'].str.upper()
sales['Col1'] = sales['Col1'].str.replace('}','')

sales.loc[sales['Col1'] == '1', 'Membership'] = 'Member'
sales.loc[sales['Col1'] == '2', 'Membership'] = 'Member'
sales.loc[sales['Col1'] == 'M', 'Membership'] = 'Member'
sales.loc[sales['Col1'] == '90', 'Membership'] = 'Member'
sales.loc[sales['Col1'] == 'Member', 'Membership'] = 'Member'
sales.loc[sales['Col1'] == 'National Access', 'Membership'] = 'National Access'
sales.loc[sales['Col1'] == 'Non-Member', 'Membership'] = 'Non-Member'
sales['Membership'] = sales['Membership'].fillna("Non-Member")

sales = sales.drop(['Col1', 'Item name'], axis=1)

sales[['Item Description', 'Membership']]

                       Item Description  Membership
0      MONTHLY - 1 HOUR MASSAGE SESSION  Non-Member
1      MONTHLY - 1 HOUR MASSAGE SESSION  Non-Member
2      MONTHLY - 1 HOUR MASSAGE SESSION  Non-Member
3      MONTHLY - 90 MIN MASSAGE SESSION  Non-Member
4      MONTHLY - 90 MIN MASSAGE SESSION  Non-Member
...                                 ...         ...
77726                     HERBAL RITUAL      Member
77727              ELITE LEVEL - 1 HOUR      Member
77728     HIMALAYAN SALT STONE - 90 MIN      Member
77729            90 MIN MASSAGE SESSION      Member
77730            AROMARITUAL (SEASONAL)      Member

[77109 rows x 2 columns]

In [36]:
sales['Item Description'].unique()

array(['MONTHLY - 1 HOUR MASSAGE SESSION',
       'MONTHLY - 90 MIN MASSAGE SESSION',
       'MONTHLY - 2 HOUR MASSAGE SESSION', '1 HOUR MASSAGE SESSION',
       '90 MIN MASSAGE SESSION', 'HOT STONE 90 MIN MASSAGE SESSION',
       'WELLNESS PROGRAM - 90 MIN', 'NEW MEMBER SIGNUP',
       'WELLNESS PROGRAM - 1 HOUR', 'LOCBOX PURCHASE',
       'AROMATHERAPY ADD-ON', 'LATE CANCEL FEE', '30 MIN MASSAGE SESSION',
       'HIMALAYAN SALT STONE 1 HOUR MASSAGE SESSION',
       'HOT STONE 1 HOUR MASSAGE SESSION',
       'COUPLES 1 HOUR MASSAGE SESSION',
       'HOT STONE 2 HOUR MASSAGE SESSION',
       'COUPLES 90 MIN MASSAGE SESSION', '2 HOUR MASSAGE SESSION',
       'PRENATAL 1 HOUR MASSAGE SESSION',
       'HIMALAYAN SALT STONE 90 MIN MASSAGE SESSION',
       'COUPLES PRENATAL 1 HOUR MASSAGE SESSION',
       'COUPLES HOT STONE 90 MIN MASSAGE SESSION',
       'COUPLES HOT STONE 1 HOUR MASSAGE SESSION',
       'MEMBER PROMO SPECIAL 1 HOUR MASSAGE',
       'GIFT CARD SALES - OUTSIDE EVENT',
       'CHAIR MASSAGE SESSION - OUTCALL', 'ASSOCIATE MEMBER',
       'WELLNESS PROGRAM - 2 HOUR',
       'HIMALAYAN SALT STONE 2 HOUR MASSAGE SESSION',
       'CPLS HIM. SALT STONE 1 HOUR MASSAGE SESSION',
       'AROMATHERAPY (SEASONAL) ADD-ON', 'HERBAL RITUAL',
       'CPLS HIM. SALT STONE 90 MIN MASSAGE SESSION',
       'MANAGER/OWNER 1 HOUR MASSAGE SESSION', 'AROMARITUAL REFRESH',
       'AROMARITUAL ENERGIZE', 'AROMARITUAL CALM',
       'MEMBER PROMO SPECIAL - 90-MINUTE', 'CUPPING - 1 HOUR',
       'MANAGER/OWNER 90 MIN MASSAGE SESSION',
       'MANAGER/OWNER HOT STONE 1 HOUR MASSAGE SESSION',
       'CUPPING - 90 MIN', 'CUPPING 1 HOUR MASSAGE SESSION',
       'HIMALAYAN SALT STONE - 1 HOUR', 'AROMARITUAL (SEASONAL)',
       'PRENATAL 90 MIN MASSAGE SESSION',
       'MANAGER/OWNER HOT STONE 90 MIN MASSAGE SESSION',
       'CUPPING 90 MIN MASSAGE SESSION',
       'CPLS HIM. SALT STONE 2 HOUR MASSAGE SESSION',
       'CUPPING 2 HOUR MASSAGE SESSION',
       'COUPLES CUPPING 90 MIN MASSAGE SESSION',
       'AROMARITUAL SWEET ORANGE', 'HIMALAYAN SALT STONE - 90 MIN',
       'COUPLES', 'CUPPING - 2 HOUR', 'HOT STONE - 90 MIN',
       'LATE CANCEL FEE - 1 HOUR SESSION',
       'LATE CANCEL FEE - 90 MIN SESSION',
       'HIMALAYAN SALT STONE - 2 HOUR', 'HOT STONE - 1 HOUR',
       'THE ELEMENTS PROMISEÂª', 'ELITE LEVEL - 90 MIN',
       'THERAPIST TRADE 90 MIN MASSAGE SESSION', 'ELITE LEVEL - 1 HOUR',
       'ELITE LEVEL - 2 HOUR', 'MANAGER/OWNER 30 MIN MASSAGE SESSION'],
      dtype=object)

In [37]:
import re

def find_time_in_description(description):
    # Use regex to find matches for hours and minutes, converting them to total minutes
    # Matching the full words 'hour' or 'minute' to prevent partial matches like '1' for '1 hour'
    hour_matches = re.findall(r'(\d+)\s*(hours?|hrs?)', description, re.IGNORECASE)
    minute_matches = re.findall(r'(\d+)\s*(minutes?|mins?)', description, re.IGNORECASE)
    
    # Convert hours to minutes and sum up the total minutes
    total_minutes = sum(int(value) * 60 for value, _ in hour_matches) + \
                    sum(int(value) for value, _ in minute_matches)
    return total_minutes if total_minutes > 0 else None

# Apply the corrected function to the 'Item Description' column
sales['Service Time'] = sales['Item Description'].apply(find_time_in_description)

In [38]:
patterns_to_remove = [
    "- 1 HOUR ", "- 90 MIN ", "- 2 HOUR ", "30 MIN ", "1 HOUR ", "2 HOUR ", " - 1 HOUR", " 90 MIN", " - 90 MIN", " - 2 HOUR", " - 90-MINUTE", "90 MIN "
]

# Replace the specified patterns with an empty string if they do not end with a blank
for pattern in patterns_to_remove:
    sales['Item Description'] = sales['Item Description'].str.replace(pattern, '', regex=False)

# Display the first few rows to confirm changes
sorted(sales['Item Description'].unique())

['AROMARITUAL (SEASONAL)',
 'AROMARITUAL CALM',
 'AROMARITUAL ENERGIZE',
 'AROMARITUAL REFRESH',
 'AROMARITUAL SWEET ORANGE',
 'AROMATHERAPY (SEASONAL) ADD-ON',
 'AROMATHERAPY ADD-ON',
 'ASSOCIATE MEMBER',
 'CHAIR MASSAGE SESSION - OUTCALL',
 'COUPLES',
 'COUPLES CUPPING MASSAGE SESSION',
 'COUPLES HOT STONE MASSAGE SESSION',
 'COUPLES MASSAGE SESSION',
 'COUPLES PRENATAL MASSAGE SESSION',
 'CPLS HIM. SALT STONE MASSAGE SESSION',
 'CUPPING',
 'CUPPING -',
 'CUPPING MASSAGE SESSION',
 'ELITE LEVEL',
 'ELITE LEVEL -',
 'GIFT CARD SALES - OUTSIDE EVENT',
 'HERBAL RITUAL',
 'HIMALAYAN SALT STONE',
 'HIMALAYAN SALT STONE -',
 'HIMALAYAN SALT STONE MASSAGE SESSION',
 'HOT STONE',
 'HOT STONE -',
 'HOT STONE MASSAGE SESSION',
 'LATE CANCEL FEE',
 'LATE CANCEL FEE SESSION',
 'LOCBOX PURCHASE',
 'MANAGER/OWNER HOT STONE MASSAGE SESSION',
 'MANAGER/OWNER MASSAGE SESSION',
 'MASSAGE SESSION',
 'MEMBER PROMO SPECIAL',
 'MEMBER PROMO SPECIAL MASSAGE',
 'MONTHLY MASSAGE SESSION',
 'NEW MEMBER SIGNUP',
 'PRENATAL MASSAGE SESSION',
 'THE ELEMENTS PROMISEÂª',
 'THERAPIST TRADE MASSAGE SESSION',
 'WELLNESS PROGRAM',
 'WELLNESS PROGRAM -']

In [39]:
sales['Item Description'] = sales['Item Description'].str.rstrip(" -")
sorted(sales['Item Description'].unique())

['AROMARITUAL (SEASONAL)',
 'AROMARITUAL CALM',
 'AROMARITUAL ENERGIZE',
 'AROMARITUAL REFRESH',
 'AROMARITUAL SWEET ORANGE',
 'AROMATHERAPY (SEASONAL) ADD-ON',
 'AROMATHERAPY ADD-ON',
 'ASSOCIATE MEMBER',
 'CHAIR MASSAGE SESSION - OUTCALL',
 'COUPLES',
 'COUPLES CUPPING MASSAGE SESSION',
 'COUPLES HOT STONE MASSAGE SESSION',
 'COUPLES MASSAGE SESSION',
 'COUPLES PRENATAL MASSAGE SESSION',
 'CPLS HIM. SALT STONE MASSAGE SESSION',
 'CUPPING',
 'CUPPING MASSAGE SESSION',
 'ELITE LEVEL',
 'GIFT CARD SALES - OUTSIDE EVENT',
 'HERBAL RITUAL',
 'HIMALAYAN SALT STONE',
 'HIMALAYAN SALT STONE MASSAGE SESSION',
 'HOT STONE',
 'HOT STONE MASSAGE SESSION',
 'LATE CANCEL FEE',
 'LATE CANCEL FEE SESSION',
 'LOCBOX PURCHASE',
 'MANAGER/OWNER HOT STONE MASSAGE SESSION',
 'MANAGER/OWNER MASSAGE SESSION',
 'MASSAGE SESSION',
 'MEMBER PROMO SPECIAL',
 'MEMBER PROMO SPECIAL MASSAGE',
 'MONTHLY MASSAGE SESSION',
 'NEW MEMBER SIGNUP',
 'PRENATAL MASSAGE SESSION',
 'THE ELEMENTS PROMISEÂª',
 'THERAPIST TRADE MASSAGE SESSION',
 'WELLNESS PROGRAM']

In [40]:
sales.shape

(77109, 17)

In [41]:
sales['Item Description'] = sales['Item Description'].apply(lambda x: "CUPPING MASSAGE SESSION" if x == "CUPPING" else x)
sales['Item Description'] = sales['Item Description'].apply(lambda x: "COUPLES MASSAGE SESSION" if x == "COUPLES" else x)
sales['Item Description'] = sales['Item Description'].apply(lambda x: "HOT STONE MASSAGE SESSION" if x == "HOT STONE" else x)
sales['Item Description'] = sales['Item Description'].apply(lambda x: "MEMBER PROMO SPECIAL MASSAGE SESSION" if x == "MEMBER PROMO SPECIAL" else x)
sales['Item Description'] = sales['Item Description'].apply(lambda x: "HIMALAYAN SALT STONE MASSAGE SESSION" if x == "HIMALAYAN SALT STONE" else x)
sales['Item Description'] = sales['Item Description'].apply(lambda x: "MEMBER PROMO SPECIAL MASSAGE SESSION" if x == "MEMBER PROMO SPECIAL MASSAGE" else x)

sales['Item Description'] = sales['Item Description'].apply(lambda x: "LATE CANCEL FEE" if x == "LATE CANCEL FEE SESSION" else x)
sales['Item Description'] = sales['Item Description'].apply(lambda x: "LATE CANCEL FEE" if x == "LATE CANCEL FEE MASSAGE SESSION" else x)

sorted(sales['Item Description'].unique())

['AROMARITUAL (SEASONAL)',
 'AROMARITUAL CALM',
 'AROMARITUAL ENERGIZE',
 'AROMARITUAL REFRESH',
 'AROMARITUAL SWEET ORANGE',
 'AROMATHERAPY (SEASONAL) ADD-ON',
 'AROMATHERAPY ADD-ON',
 'ASSOCIATE MEMBER',
 'CHAIR MASSAGE SESSION - OUTCALL',
 'COUPLES CUPPING MASSAGE SESSION',
 'COUPLES HOT STONE MASSAGE SESSION',
 'COUPLES MASSAGE SESSION',
 'COUPLES PRENATAL MASSAGE SESSION',
 'CPLS HIM. SALT STONE MASSAGE SESSION',
 'CUPPING MASSAGE SESSION',
 'ELITE LEVEL',
 'GIFT CARD SALES - OUTSIDE EVENT',
 'HERBAL RITUAL',
 'HIMALAYAN SALT STONE MASSAGE SESSION',
 'HOT STONE MASSAGE SESSION',
 'LATE CANCEL FEE',
 'LOCBOX PURCHASE',
 'MANAGER/OWNER HOT STONE MASSAGE SESSION',
 'MANAGER/OWNER MASSAGE SESSION',
 'MASSAGE SESSION',
 'MEMBER PROMO SPECIAL MASSAGE SESSION',
 'MONTHLY MASSAGE SESSION',
 'NEW MEMBER SIGNUP',
 'PRENATAL MASSAGE SESSION',
 'THE ELEMENTS PROMISEÂª',
 'THERAPIST TRADE MASSAGE SESSION',
 'WELLNESS PROGRAM']

In [42]:
sales.shape

(77109, 17)

In [43]:
sales.shape

(77109, 17)

#### Add Summarized Features

In [44]:
# Convert 'Sale Date' to datetime for accurate processing
sales['Sale Date'] = pd.to_datetime(sales['Sale Date'])

# Calculate first and last sale date for each client
sales['First_Sale_Date'] = sales.groupby('Client ID')['Sale Date'].transform('min')
sales['Last_Sale_Date'] = sales.groupby('Client ID')['Sale Date'].transform('max')

# Calculate sale frequency for each client ID
sales['Sale_Frequency'] = sales.groupby('Client ID')['Sale Date'].transform('count')

# Get the last sale membership for each client ID
sales_sorted = sales.sort_values(by=['Client ID', 'Sale Date'])
last_sale_membership = sales_sorted.drop_duplicates('Client ID', keep='last')[['Client ID', 'Membership']]
sales = sales.merge(last_sale_membership.rename(columns={'Membership': 'Last_Sale_Membership'}), on='Client ID', how='left')

# Calculate the preferred service time for each client ID
sales['Preferred_Service_Time'] = sales.groupby('Client ID')['Service Time'].transform(lambda x: x.mode()[0] if not x.mode().empty else None)

# Calculate the favorite item for each client ID
sales['Favorite_Item'] = sales.groupby('Client ID')['Item Description'].transform(lambda x: x.mode()[0] if not x.mode().empty else None)

# Determine if ever purchased addons
addon_descriptions = ['AROMATHERAPY (SEASONAL) ADD-ON', 'AROMATHERAPY ADD-ON']
sales['Ever_Purchased_Addons'] = sales['Item Description'].apply(lambda x: 1 if x in addon_descriptions else 0).groupby(sales['Client ID']).transform('max')

# Determine if ever purchased chair session
chair_session_description = 'CHAIR MASSAGE SESSION - OUTCALL'
sales['Ever_Purchased_Chair_Session'] = sales['Item Description'].apply(lambda x: 1 if x == chair_session_description else 0).groupby(sales['Client ID']).transform('max')

# Determine if ever purchased manager/owner session
manager_owner_descriptions = ['MANAGER/OWNER MASSAGE SESSION', 'MASSAGE SESSION']
sales['Ever_Purchased_Manager_Owner_Session'] = sales['Item Description'].apply(lambda x: 1 if x in manager_owner_descriptions else 0).groupby(sales['Client ID']).transform('max')

# Determine if ever late cancel
late_cancel_description = 'LATE CANCEL FEE'
sales['Ever_Late_Cancel'] = sales['Item Description'].apply(lambda x: 1 if x == late_cancel_description else 0).groupby(sales['Client ID']).transform('max')

/var/folders/dw/5lrf5nls49q7nfzf83vn454h0000gn/T/ipykernel_89113/739570288.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales['Sale Date'] = pd.to_datetime(sales['Sale Date'])

In [45]:
sales.shape

(77109, 27)

In [46]:
# Calculate the total sales count for each client
total_sales_count = sales.groupby('Client ID')['Membership'].transform('count')

# Calculate the 'Non-Member' sales count for each client
non_member_sales_count = sales[sales['Membership'] == 'Non-Member'].groupby('Client ID')['Membership'].transform('count')

# Create a temporary DataFrame to hold 'Non-Member' counts with Client IDs as index
non_member_counts_df = sales[sales['Membership'] == 'Non-Member'].groupby('Client ID').size().to_frame('Non_Member_Count')

# Map the 'Non-Member' counts back to the original sales DataFrame
sales = sales.join(non_member_counts_df, on='Client ID', how='left')

# Fill NaN values in 'Non_Member_Count' with 0 for clients without 'Non-Member' sales
sales['Non_Member_Count'].fillna(0, inplace=True)

# Calculate the Non_Member_Purchase_Rate
sales['Non_Member_Purchase_Rate'] = sales['Non_Member_Count'] / total_sales_count

# Ensure no NaN values exist in the rate column, fill with 0 if necessary
sales['Non_Member_Purchase_Rate'].fillna(0, inplace=True)

/var/folders/dw/5lrf5nls49q7nfzf83vn454h0000gn/T/ipykernel_89113/682662553.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Non_Member_Count'].fillna(0, inplace=True)
/var/folders/dw/5lrf5nls49q7nfzf83vn454h0000gn/T/ipykernel_89113/682662553.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['Non_Member_Purchase_Rate'].fillna(0, inplace=True)

In [47]:
# Add First_Member_Purchase_Date
# Group by 'Client ID' and filter for 'Membership' is "Member", then get the first 'Sale Date'
first_member_purchase_date = sales[sales['Membership'] == "Member"].groupby('Client ID')['Sale Date'].min().rename('First_Member_Purchase_Date')

# Merge this information back to the original dataframe
sales = sales.merge(first_member_purchase_date, on='Client ID', how='left')

In [48]:
sales.shape

(77109, 30)

### Group by

In [49]:
grouped_sales = sales.groupby('Client ID').agg({
    'First_Sale_Date': 'max',
    'Last_Sale_Date': 'max',
    'Sale_Frequency': 'max',
    'Last_Sale_Membership': 'max',
    'Preferred_Service_Time': 'max',
    'Favorite_Item': 'max',
    'Ever_Purchased_Addons': 'max',
    'Ever_Purchased_Chair_Session': 'max',
    'Ever_Purchased_Manager_Owner_Session': 'max',
    'Ever_Late_Cancel': 'first',
    'Non_Member_Purchase_Rate': 'max',
    'First_Member_Purchase_Date': 'max'}).reset_index()

In [50]:
grouped_sales.shape

(6908, 13)

In [51]:
grouped_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6908 entries, 0 to 6907
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Client ID                             6908 non-null   object
 1   First_Sale_Date                       6908 non-null   datetime64[ns]
 2   Last_Sale_Date                        6908 non-null   datetime64[ns]
 3   Sale_Frequency                        6908 non-null   int64
 4   Last_Sale_Membership                  6908 non-null   object
 5   Preferred_Service_Time                6844 non-null   float64
 6   Favorite_Item                         6908 non-null   object
 7   Ever_Purchased_Addons                 6908 non-null   int64
 8   Ever_Purchased_Chair_Session          6908 non-null   int64
 9   Ever_Purchased_Manager_Owner_Session  6908 non-null   int64
 10  Ever_Late_Cancel                      6908 non-null   int64
 11  Non_Member_Purchase_Rate              6908 non-null   float64
 12  First_Member_Purchase_Date            2660 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(5), object(3)
memory usage: 701.7+ KB

In [52]:
grouped_sales.describe()

,First_Sale_Date,Last_Sale_Date,Sale_Frequency,Preferred_Service_Time,Ever_Purchased_Addons,Ever_Purchased_Chair_Session,Ever_Purchased_Manager_Owner_Session,Ever_Late_Cancel,Non_Member_Purchase_Rate,First_Member_Purchase_Date
count,6908,6908,6908.000000,6844.000000,6908.000000,6908.000000,6908.000000,6908.000000,6908.000000,2660
mean,2020-07-20 18:45:14.070642688,2021-07-05 22:14:18.830341632,11.162276,69.007890,0.006369,0.000145,0.876954,0.021135,0.879196,2020-07-29 18:47:38.345864704
min,2017-01-01 00:00:00,2017-01-01 00:00:00,1.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017-01-02 00:00:00
25%,2018-06-21 18:00:00,2019-06-27 06:00:00,1.000000,60.000000,0.000000,0.000000,1.000000,0.000000,0.818182,2018-05-01 18:00:00
50%,2021-03-08 12:00:00,2022-03-04 00:00:00,2.000000,60.000000,0.000000,0.000000,1.000000,0.000000,1.000000,2021-04-06 00:00:00
75%,2022-07-05 00:00:00,2023-07-03 00:00:00,10.000000,90.000000,0.000000,0.000000,1.000000,0.000000,1.000000,2022-08-02 00:00:00
max,2023-12-30 00:00:00,2023-12-31 00:00:00,726.000000,120.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2023-12-30 00:00:00
std,NaN,NaN,23.129329,14.231564,0.079560,0.012032,0.328513,0.143844,0.214785,NaN

## schedule

In [54]:
schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63215 entries, 0 to 63214
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                63215 non-null  object
 1   Start time          63215 non-null  object
 2   End time            63215 non-null  object
 3   Description         63215 non-null  object
 4   Staff               63215 non-null  object
 5   Notes               0 non-null      float64
 6   Client              0 non-null      float64
 7   Client ID           63215 non-null  object
 8   Scheduled Online    63215 non-null  object
 9   Membership          37904 non-null  object
 10  Staff Alert         0 non-null      float64
 11  Yellow Alert        0 non-null      float64
 12  Appointment Notes   0 non-null      float64
 13  Unpaid Appointment  63215 non-null  object
 14  First Visit         63215 non-null  object
 15  Birthday            58132 non-null  object
dtypes: float64(5), object(11)
memory usage: 7.7+ MB

In [57]:
schedule.shape

(63215, 16)

In [58]:
schedule = schedule.drop(['Notes', 'Client', 'Staff Alert', 'Yellow Alert', 'Appointment Notes'], axis = 1)
schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63215 entries, 0 to 63214
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                63215 non-null  object
 1   Start time          63215 non-null  object
 2   End time            63215 non-null  object
 3   Description         63215 non-null  object
 4   Staff               63215 non-null  object
 5   Client ID           63215 non-null  object
 6   Scheduled Online    63215 non-null  object
 7   Membership          37904 non-null  object
 8   Unpaid Appointment  63215 non-null  object
 9   First Visit         63215 non-null  object
 10  Birthday            58132 non-null  object
dtypes: object(11)
memory usage: 5.3+ MB

In [59]:
# Regular expression pattern to extract dates
pattern = r'from (\d{1,2}/\d{1,2}/\d{4}) \d{1,2}:\d{2}:\d{2} [AP]M to (\d{1,2}/\d{1,2}/\d{4}) \d{1,2}:\d{2}:\d{2} [AP]M'

def extract_dates(membership):
    if pd.isnull(membership) or not isinstance(membership, str):
        return pd.NaT, pd.NaT  # Handle non-string or NaN values with pd.NaT
    matches = re.search(pattern, membership)
    if matches:
        enter_date = pd.to_datetime(matches.group(1))
        exit_date = pd.to_datetime(matches.group(2))
        return enter_date, exit_date
    else:
        return pd.NaT, pd.NaT

# Apply the function to extract dates
schedule[['Enter Date', 'Exit Date']] = schedule['Membership'].apply(lambda x: extract_dates(x)).apply(pd.Series)

In [60]:
# Convert the 'Date' column to datetime if it's not already
schedule['Date'] = pd.to_datetime(schedule['Date'])

# Replace null values in 'Enter Date' with 'Date' where 'First Visit' is "Yes"
schedule.loc[(schedule['First Visit'] == "Yes") & schedule['Enter Date'].isna(), 'Enter Date'] = schedule['Date']

/var/folders/dw/5lrf5nls49q7nfzf83vn454h0000gn/T/ipykernel_89113/3684159376.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  schedule['Date'] = pd.to_datetime(schedule['Date'])

In [61]:
from datetime import datetime

# Change the Birthday to datetime format
schedule['Birthday'] = pd.to_datetime(schedule['Birthday'])

current_year = datetime(2024, 1, 1)
schedule['Age in 2024'] = schedule['Birthday'].apply(
    lambda x: current_year.year - x.year - ((current_year.month, current_year.day) < (x.month, x.day))
    )

In [62]:
def determine_membership(description):
    if pd.isnull(description):
        return pd.NA
    elif "Non-Member" in description:
        return "Non-Member"
    elif "Member" in description:
        return "Member"
    else:
        return pd.NA

# Apply the function to the 'Description' column and store the result in 'Schedule_Membership'
schedule['Membership'] = schedule['Description'].apply(determine_membership)

In [63]:
schedule.shape

(63215, 14)

In [64]:
schedule['Staff'].value_counts()

Staff
Whitney (E) 3.5 (2)    6431
Luz 3                  5397
Miguel  4 (2)          4707
Mireya (E) 3.5         4601
Theresa 3              3308
                       ...
Marianne                 40
Angie                    30
Ramirez                  21
Louisa                    6
Iryna                     4
Name: count, Length: 67, dtype: int64

In [65]:
schedule['Staff'] = schedule['Staff'].str.replace(r"[\(\)\d]+", "", regex=True).str.strip()

In [66]:
schedule['Staff'].unique

<bound method Series.unique of 0              John
1              John
2           C Lucas
3              John
4           C Lucas
            ...
63210         Lesly
63211    Mireya E .
63212    Mireya E .
63213         Sarah
63214          Ruby
Name: Staff, Length: 63215, dtype: object>

In [67]:
schedule.shape

(63215, 14)

#### Add Summarized Features

In [68]:
# Calculate schedule frequency for each client
schedule['Schedule_Frequency'] = schedule.groupby('Client ID')['Date'].transform('count')

# Calculate the favorite therapist for each client
schedule['Favorite_Therapist'] = schedule.groupby('Client ID')['Staff'].transform(lambda x: x.mode()[0] if not x.mode().empty else None)

# Calculate the first and last schedule date for each client
schedule['First_Schedule_Date'] = schedule.groupby('Client ID')['Date'].transform('min')
schedule['Last_Schedule_Date'] = schedule.groupby('Client ID')['Date'].transform('max')

In [69]:
# Replace periods and blank spaces in the 'Favorite_Therapist' column
schedule['Favorite_Therapist'] = schedule['Favorite_Therapist'].str.replace('.', '', regex=False)
schedule['Favorite_Therapist'] = schedule['Favorite_Therapist'].str.replace(' ', '', regex=False)

In [70]:
schedule.shape

(63215, 18)

### Group by

In [71]:
grouped_schedule = schedule.groupby('Client ID').agg({
    'Enter Date': 'min',
    'Exit Date': 'max', 
    'Age in 2024': 'max',
    'Schedule_Frequency': 'max',
    'Favorite_Therapist': 'max',
    'First_Schedule_Date': 'max', 
    'Last_Schedule_Date': 'max'
}).reset_index()

In [72]:
grouped_schedule.shape

(9581, 8)

In [73]:
grouped_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9581 entries, 0 to 9580
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Client ID            9581 non-null   object
 1   Enter Date           8826 non-null   datetime64[ns]
 2   Exit Date            2083 non-null   datetime64[ns]
 3   Age in 2024          8307 non-null   float64
 4   Schedule_Frequency   9581 non-null   int64
 5   Favorite_Therapist   9581 non-null   object
 6   First_Schedule_Date  9581 non-null   datetime64[ns]
 7   Last_Schedule_Date   9581 non-null   datetime64[ns]
dtypes: datetime64[ns](4), float64(1), int64(1), object(2)
memory usage: 598.9+ KB

In [74]:
grouped_schedule.describe()

,Enter Date,Exit Date,Age in 2024,Schedule_Frequency,First_Schedule_Date,Last_Schedule_Date
count,8826,2083,8307.000000,9581.000000,9581,9581
mean,2020-09-18 13:16:31.162474752,2099-07-11 02:12:02.419587072,44.334296,6.597954,2020-06-07 08:40:10.771318272,2021-04-10 15:46:43.423442176
min,2000-01-12 00:00:00,2023-10-11 00:00:00,-26.000000,1.000000,2017-01-02 00:00:00,2017-01-02 00:00:00
25%,2018-09-27 00:00:00,2103-01-16 00:00:00,33.000000,1.000000,2018-05-13 00:00:00,2019-02-27 00:00:00
50%,2021-04-13 00:00:00,2105-06-09 00:00:00,42.000000,1.000000,2020-06-26 00:00:00,2021-12-01 00:00:00
75%,2022-08-30 00:00:00,2106-07-01 00:00:00,56.000000,5.000000,2022-06-21 00:00:00,2023-05-20 00:00:00
max,2024-01-01 00:00:00,2107-04-14 00:00:00,141.000000,397.000000,2023-12-31 00:00:00,2023-12-31 00:00:00
std,NaN,NaN,15.500358,15.611954,NaN,NaN

## metrics

In [75]:
metrics.shape

(54, 7)

In [77]:
metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Therapist                  54 non-null     object
 1   Total Client Services      54 non-null     int64
 2   Number  Hours  Booked      54 non-null     float64
 3   Therapist Available Hours  54 non-null     float64
 4   Therapist Utilization      54 non-null     float64
 5   Upgrades                   54 non-null     int64
 6   Upgrade %                  53 non-null     float64
dtypes: float64(4), int64(2), object(1)
memory usage: 3.1+ KB

## turnover

In [76]:
turnover.shape

(55, 62)

In [78]:
turnover.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 62 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Therapist    54 non-null     object
 1   Jan 19       12 non-null     object
 2   Feb 19       12 non-null     object
 3   Mar 19       10 non-null     object
 4   Apr 19       12 non-null     object
 5   May 19       11 non-null     object
 6   Jun 19       12 non-null     object
 7   Jul 19       12 non-null     object
 8   Aug 19       13 non-null     object
 9   Sep 19       13 non-null     object
 10  Oct 19       13 non-null     object
 11  Nov 19       15 non-null     object
 12  Dec 19       14 non-null     object
 13  Jan 20       13 non-null     object
 14  Feb 20       12 non-null     object
 15  Mar 20       12 non-null     object
 16  Apr 20       1 non-null      object
 17  May 20       1 non-null      object
 18  Jun 20       10 non-null     object
 19  Jul 20       9 non-null      object
 20  Aug 20       7 non-null      object
 21  Sep 20       9 non-null      object
 22  Oct 20       11 non-null     object
 23  Nov 20       11 non-null     object
 24  Dec 20       11 non-null     object
 25  Jan 21       9 non-null      object
 26  Feb 21       12 non-null     object
 27  Mar 21       13 non-null     object
 28  Apr 21       15 non-null     object
 29  May 21       15 non-null     object
 30  Jun 21       16 non-null     object
 31  Jul 21       15 non-null     object
 32  Aug 21       15 non-null     object
 33  Sep 21       15 non-null     object
 34  Oct 21       15 non-null     object
 35  Nov 21       17 non-null     object
 36  Dec 21       16 non-null     object
 37  Jan 22       15 non-null     object
 38  Feb 22       17 non-null     object
 39  Mar 22       17 non-null     object
 40  Apr 22       18 non-null     object
 41  May 22       18 non-null     object
 42  Jun 22       21 non-null     object
 43  Jul 22       20 non-null     object
 44  Aug 22       19 non-null     object
 45  Sep 22       20 non-null     object
 46  Oct 22       20 non-null     object
 47  Nov 22       19 non-null     object
 48  Dec 22       19 non-null     object
 49  Jan 23       18 non-null     object
 50  Feb 23       20 non-null     object
 51  Mar 23       22 non-null     object
 52  Apr 23       23 non-null     object
 53  May 23       21 non-null     object
 54  Jun 23       22 non-null     object
 55  Jul 23       23 non-null     object
 56  Aug 23       22 non-null     object
 57  Sep 23       22 non-null     object
 58  Oct 23       22 non-null     object
 59  Nov 23       21 non-null     object
 60  Dec 23       20 non-null     object
 61  Unnamed: 61  1 non-null      object
dtypes: object(62)
memory usage: 26.8+ KB

## Merge datasets

In [79]:
grouped_sales_columns = {col: f'sales_{col}' for col in grouped_sales.columns}
grouped_deposits_columns = {col: f'deposits_{col}' for col in grouped_deposits.columns}
grouped_schedule_columns = {col: f'schedule_{col}' for col in grouped_schedule.columns}

grouped_sales.rename(columns=grouped_sales_columns, inplace=True)
grouped_deposits.rename(columns=grouped_deposits_columns, inplace=True)
grouped_schedule.rename(columns=grouped_schedule_columns, inplace=True)

In [80]:
grouped_sales.columns

Index(['sales_Client ID', 'sales_First_Sale_Date', 'sales_Last_Sale_Date',
       'sales_Sale_Frequency', 'sales_Last_Sale_Membership',
       'sales_Preferred_Service_Time', 'sales_Favorite_Item',
       'sales_Ever_Purchased_Addons', 'sales_Ever_Purchased_Chair_Session',
       'sales_Ever_Purchased_Manager_Owner_Session', 'sales_Ever_Late_Cancel',
       'sales_Non_Member_Purchase_Rate', 'sales_First_Member_Purchase_Date'],
      dtype='object')

In [81]:
# Perform the outer joins and groupbys
merged_df = grouped_sales.merge(members, how='left', left_on='sales_Client ID', right_on='BarcodeID')

In [82]:
merged_df = merged_df.merge(grouped_deposits, how='left', left_on='sales_Client ID', right_on='deposits_Client ID')

In [83]:
merged_df = merged_df.merge(grouped_schedule, how='left', left_on='sales_Client ID', right_on='schedule_Client ID')

In [84]:
merged_df.shape

(6908, 35)

## Remove duplicate columns and rename

In [85]:
merged_df.columns

Index(['sales_Client ID', 'sales_First_Sale_Date', 'sales_Last_Sale_Date',
       'sales_Sale_Frequency', 'sales_Last_Sale_Membership',
       'sales_Preferred_Service_Time', 'sales_Favorite_Item',
       'sales_Ever_Purchased_Addons', 'sales_Ever_Purchased_Chair_Session',
       'sales_Ever_Purchased_Manager_Owner_Session', 'sales_Ever_Late_Cancel',
       'sales_Non_Member_Purchase_Rate', 'sales_First_Member_Purchase_Date',
       'BarcodeID', 'Status', 'Membership Tier', 'Joined On', 'Location',
       'Next AutoPay Date', 'Next AutoPay Amount', 'Is New Member?',
       'Membership Autopay', 'deposits_Client ID',
       'deposits_First_Deposit_Date', 'deposits_Last_Deposit_Date',
       'deposits_Deposit_Frequency', 'deposits_Last_Deposit_Membership',
       'schedule_Client ID', 'schedule_Enter Date', 'schedule_Exit Date',
       'schedule_Age in 2024', 'schedule_Schedule_Frequency',
       'schedule_Favorite_Therapist', 'schedule_First_Schedule_Date',
       'schedule_Last_Schedule_Date'],
      dtype='object')

In [86]:
merged_df = merged_df.drop(['BarcodeID', 'deposits_Client ID', 'schedule_Client ID'], axis = 1)
merged_df.columns

Index(['sales_Client ID', 'sales_First_Sale_Date', 'sales_Last_Sale_Date',
       'sales_Sale_Frequency', 'sales_Last_Sale_Membership',
       'sales_Preferred_Service_Time', 'sales_Favorite_Item',
       'sales_Ever_Purchased_Addons', 'sales_Ever_Purchased_Chair_Session',
       'sales_Ever_Purchased_Manager_Owner_Session', 'sales_Ever_Late_Cancel',
       'sales_Non_Member_Purchase_Rate', 'sales_First_Member_Purchase_Date',
       'Status', 'Membership Tier', 'Joined On', 'Location',
       'Next AutoPay Date', 'Next AutoPay Amount', 'Is New Member?',
       'Membership Autopay', 'deposits_First_Deposit_Date',
       'deposits_Last_Deposit_Date', 'deposits_Deposit_Frequency',
       'deposits_Last_Deposit_Membership', 'schedule_Enter Date',
       'schedule_Exit Date', 'schedule_Age in 2024',
       'schedule_Schedule_Frequency', 'schedule_Favorite_Therapist',
       'schedule_First_Schedule_Date', 'schedule_Last_Schedule_Date'],
      dtype='object')

In [87]:
merged_df = merged_df.rename(columns={   
    'sales_Client ID': 'Client_ID',
    'Status': 'Member_Status',
    'Membership Tier': 'Member_Tier',
    'Joined On': 'Member_Joined_On',
    'Next AutoPay Date': 'Member_Next_Autopay_Date',
    'Next AutoPay Amount': 'Member_Next_Autopay_Amount',
    'Is New Member?': 'Member_Is_New_Member',
    'sales_First_Sale_Date': 'First_Sale_Date',
    'sales_Last_Sale_Date': 'Last_Sale_Date',
    'sales_Sale_Frequency': 'Sale_Frequency',
    'sales_Last_Sale_Membership': 'Last_Sale_Membership',
    'sales_Preferred_Service_Time': 'Preferred_Service_Time',
    'sales_Favorite_Item': 'Favorite_Sales_Item',
    'sales_Ever_Purchased_Addons': 'Ever_Purchased_Addons',
    'sales_Ever_Purchased_Chair_Session': 'Ever_Purchased_Chair_Session',
    'sales_Ever_Purchased_Manager_Owner_Session': 'Ever_Purchased_Manager_Owner_Session',
    'sales_Ever_Late_Cancel': 'Ever_Late_Cancel',
    'sales_Non_Member_Purchase_Rate': 'Non_Member_Purchase_Rate',
    'sales_First_Member_Purchase_Date': 'First_Member_Purchase_Date',
    'deposits_First_Deposit_Date': 'First_Deposit_Date',
    'deposits_Last_Deposit_Date': 'Last_Deposit_Date',
    'deposits_Deposit_Frequency': 'Deposit_Frequency',
    'deposits_Last_Deposit_Membership': 'Last_Deposit_Membership',
    'schedule_Enter Date': 'Schedule_Member_Enter_Date',
    'schedule_Exit Date': 'Schedule_Member_Exit_Date',
    'schedule_Age in 2024': 'Member_Age',
    'schedule_Schedule_Frequency': 'Schedule_Frequency',
    'schedule_Favorite_Therapist': 'Favorite_Therapist',
    'schedule_First_Schedule_Date': 'First_Schedule_Date',
    'schedule_Last_Schedule_Date': 'Last_Schedule_Date'
    })

In [88]:
merged_df.shape

(6908, 32)

In [89]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6908 entries, 0 to 6907
Data columns (total 32 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Client_ID                             6908 non-null   object
 1   First_Sale_Date                       6908 non-null   datetime64[ns]
 2   Last_Sale_Date                        6908 non-null   datetime64[ns]
 3   Sale_Frequency                        6908 non-null   int64
 4   Last_Sale_Membership                  6908 non-null   object
 5   Preferred_Service_Time                6844 non-null   float64
 6   Favorite_Sales_Item                   6908 non-null   object
 7   Ever_Purchased_Addons                 6908 non-null   int64
 8   Ever_Purchased_Chair_Session          6908 non-null   int64
 9   Ever_Purchased_Manager_Owner_Session  6908 non-null   int64
 10  Ever_Late_Cancel                      6908 non-null   int64
 11  Non_Member_Purchase_Rate              6908 non-null   float64
 12  First_Member_Purchase_Date            2660 non-null   datetime64[ns]
 13  Member_Status                         1724 non-null   object
 14  Member_Tier                           1724 non-null   object
 15  Member_Joined_On                      1724 non-null   object
 16  Location                              1724 non-null   object
 17  Member_Next_Autopay_Date              874 non-null    object
 18  Member_Next_Autopay_Amount            1724 non-null   float64
 19  Member_Is_New_Member                  1724 non-null   object
 20  Membership Autopay                    1724 non-null   object
 21  First_Deposit_Date                    1325 non-null   datetime64[ns]
 22  Last_Deposit_Date                     1325 non-null   datetime64[ns]
 23  Deposit_Frequency                     1325 non-null   float64
 24  Last_Deposit_Membership               1325 non-null   object
 25  Schedule_Member_Enter_Date            6190 non-null   datetime64[ns]
 26  Schedule_Member_Exit_Date             1515 non-null   datetime64[ns]
 27  Member_Age                            6013 non-null   float64
 28  Schedule_Frequency                    6773 non-null   float64
 29  Favorite_Therapist                    6773 non-null   object
 30  First_Schedule_Date                   6773 non-null   datetime64[ns]
 31  Last_Schedule_Date                    6773 non-null   datetime64[ns]
dtypes: datetime64[ns](9), float64(6), int64(5), object(12)
memory usage: 1.7+ MB

## Cleaning Merged Dataset

In [90]:
# Replace "Wellness Program Member {M}" with "Member" in the Member_Tier column
merged_df['Member_Tier'] = merged_df['Member_Tier'].replace('Wellness Program Member {M}', 'Member')

In [91]:
merged_df.columns

Index(['Client_ID', 'First_Sale_Date', 'Last_Sale_Date', 'Sale_Frequency',
       'Last_Sale_Membership', 'Preferred_Service_Time', 'Favorite_Sales_Item',
       'Ever_Purchased_Addons', 'Ever_Purchased_Chair_Session',
       'Ever_Purchased_Manager_Owner_Session', 'Ever_Late_Cancel',
       'Non_Member_Purchase_Rate', 'First_Member_Purchase_Date',
       'Member_Status', 'Member_Tier', 'Member_Joined_On', 'Location',
       'Member_Next_Autopay_Date', 'Member_Next_Autopay_Amount',
       'Member_Is_New_Member', 'Membership Autopay', 'First_Deposit_Date',
       'Last_Deposit_Date', 'Deposit_Frequency', 'Last_Deposit_Membership',
       'Schedule_Member_Enter_Date', 'Schedule_Member_Exit_Date', 'Member_Age',
       'Schedule_Frequency', 'Favorite_Therapist', 'First_Schedule_Date',
       'Last_Schedule_Date'],
      dtype='object')

In [92]:
merged_df.shape

(6908, 32)

In [93]:
# Update Member_Tier to "Member" where it's blank and Non_Member_Purchase_Rate < 1
merged_df.loc[merged_df['Member_Tier'].isna() & (merged_df['Non_Member_Purchase_Rate'] < 1), 'Member_Tier'] = "Member"

In [94]:
merged_df.columns

Index(['Client_ID', 'First_Sale_Date', 'Last_Sale_Date', 'Sale_Frequency',
       'Last_Sale_Membership', 'Preferred_Service_Time', 'Favorite_Sales_Item',
       'Ever_Purchased_Addons', 'Ever_Purchased_Chair_Session',
       'Ever_Purchased_Manager_Owner_Session', 'Ever_Late_Cancel',
       'Non_Member_Purchase_Rate', 'First_Member_Purchase_Date',
       'Member_Status', 'Member_Tier', 'Member_Joined_On', 'Location',
       'Member_Next_Autopay_Date', 'Member_Next_Autopay_Amount',
       'Member_Is_New_Member', 'Membership Autopay', 'First_Deposit_Date',
       'Last_Deposit_Date', 'Deposit_Frequency', 'Last_Deposit_Membership',
       'Schedule_Member_Enter_Date', 'Schedule_Member_Exit_Date', 'Member_Age',
       'Schedule_Frequency', 'Favorite_Therapist', 'First_Schedule_Date',
       'Last_Schedule_Date'],
      dtype='object')

In [95]:
merged_df.shape

(6908, 32)

In [97]:
merged_df.loc[(merged_df['Last_Sale_Date'].dt.month == 12) & (merged_df['Last_Sale_Date'].dt.year == 2023) & (merged_df['Last_Sale_Membership'] == "Member"), 'Member_Status'] = "Active"

In [98]:
merged_df.columns

Index(['Client_ID', 'First_Sale_Date', 'Last_Sale_Date', 'Sale_Frequency',
       'Last_Sale_Membership', 'Preferred_Service_Time', 'Favorite_Sales_Item',
       'Ever_Purchased_Addons', 'Ever_Purchased_Chair_Session',
       'Ever_Purchased_Manager_Owner_Session', 'Ever_Late_Cancel',
       'Non_Member_Purchase_Rate', 'First_Member_Purchase_Date',
       'Member_Status', 'Member_Tier', 'Member_Joined_On', 'Location',
       'Member_Next_Autopay_Date', 'Member_Next_Autopay_Amount',
       'Member_Is_New_Member', 'Membership Autopay', 'First_Deposit_Date',
       'Last_Deposit_Date', 'Deposit_Frequency', 'Last_Deposit_Membership',
       'Schedule_Member_Enter_Date', 'Schedule_Member_Exit_Date', 'Member_Age',
       'Schedule_Frequency', 'Favorite_Therapist', 'First_Schedule_Date',
       'Last_Schedule_Date'],
      dtype='object')

In [99]:
# Replace NA in 'Member_Joined_On' with the non-null earliest of 'First_Member_Purchase_Date' and 'Schedule_Member_Enter_Date'
def get_earliest_non_null_date(row):
    dates = [row['First_Member_Purchase_Date'], row['Schedule_Member_Enter_Date']]
    non_null_dates = list(filter(pd.notnull, dates))
    if not non_null_dates:  # If the list is empty, both dates are null
        return row['Member_Joined_On']  # Return the original value (could be NaT or NaN)
    return min(non_null_dates)

# Apply the function to each row
merged_df['Member_Joined_On'] = merged_df.apply(get_earliest_non_null_date, axis=1)

# Ensure 'Member_Joined_On' is a datetime Series, convert if necessary
merged_df['Member_Joined_On'] = pd.to_datetime(merged_df['Member_Joined_On'], errors='coerce')

# Convert to just the date part, without time
merged_df['Member_Joined_On'] = merged_df['Member_Joined_On'].dt.date

In [100]:
# Replace NaN values in 'Member_Joined_On' with values from 'First_Member_Purchase_Date'
merged_df['Member_Joined_On'] = merged_df['Member_Joined_On'].fillna(merged_df['First_Member_Purchase_Date'])

In [101]:
merged_df.columns

Index(['Client_ID', 'First_Sale_Date', 'Last_Sale_Date', 'Sale_Frequency',
       'Last_Sale_Membership', 'Preferred_Service_Time', 'Favorite_Sales_Item',
       'Ever_Purchased_Addons', 'Ever_Purchased_Chair_Session',
       'Ever_Purchased_Manager_Owner_Session', 'Ever_Late_Cancel',
       'Non_Member_Purchase_Rate', 'First_Member_Purchase_Date',
       'Member_Status', 'Member_Tier', 'Member_Joined_On', 'Location',
       'Member_Next_Autopay_Date', 'Member_Next_Autopay_Amount',
       'Member_Is_New_Member', 'Membership Autopay', 'First_Deposit_Date',
       'Last_Deposit_Date', 'Deposit_Frequency', 'Last_Deposit_Membership',
       'Schedule_Member_Enter_Date', 'Schedule_Member_Exit_Date', 'Member_Age',
       'Schedule_Frequency', 'Favorite_Therapist', 'First_Schedule_Date',
       'Last_Schedule_Date'],
      dtype='object')

In [102]:
merged_df.loc[(merged_df['Member_Status'] != "Active") & (merged_df['Member_Status'].notna()), 'Member_Status'] = "Inactive"

In [103]:
# Remove records where "Member_Tier" is null
merged_df = merged_df.dropna(subset=['Member_Tier'])

In [104]:
merged_df.loc[(merged_df['Member_Status'].isna()) & (merged_df['Last_Sale_Membership'] == "Non-Member"), 'Member_Status'] = "Inactive"

In [105]:
merged_df.shape

(2701, 32)

In [106]:
merged_df['Member_Joined_On'] = pd.to_datetime(merged_df['Member_Joined_On']).dt.date

In [107]:
columns_to_drop = [
    'Member_Next_Autopay_Date',
    'First_Member_Purchase_Date',
    'First_Deposit_Date',
    'Schedule_Member_Enter_Date',
    'Schedule_Member_Exit_Date',
    'sales_First_Member_Purchase_Date',
    'First_Schedule_Date'
]

# Drop the columns
merged_df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

In [108]:
merged_df['Member_Next_Autopay_Amount'] = merged_df.get('Member_Next_Autopay_Amount', pd.Series()).fillna(0)

In [109]:
merged_df.columns

Index(['Client_ID', 'First_Sale_Date', 'Last_Sale_Date', 'Sale_Frequency',
       'Last_Sale_Membership', 'Preferred_Service_Time', 'Favorite_Sales_Item',
       'Ever_Purchased_Addons', 'Ever_Purchased_Chair_Session',
       'Ever_Purchased_Manager_Owner_Session', 'Ever_Late_Cancel',
       'Non_Member_Purchase_Rate', 'Member_Status', 'Member_Tier',
       'Member_Joined_On', 'Location', 'Member_Next_Autopay_Amount',
       'Member_Is_New_Member', 'Membership Autopay', 'Last_Deposit_Date',
       'Deposit_Frequency', 'Last_Deposit_Membership', 'Member_Age',
       'Schedule_Frequency', 'Favorite_Therapist', 'Last_Schedule_Date'],
      dtype='object')

In [110]:
columns_to_drop = [
    'Location',
    'Member_Tier', 
    'Member_Is_New_Member', 
    'Last_Sale_Membership',
    'First_Sale_Date', 
    'Last_Deposit_Date', 
    'Deposit_Frequency', 
    'Last_Deposit_Membership',
    'Membership Autopay'
]

# Drop the columns
merged_df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

In [111]:
merged_df.shape

(2701, 17)

In [112]:
merged_df = merged_df.drop_duplicates()
merged_df.shape

(2701, 17)

In [113]:
merged_df = merged_df.dropna()
merged_df.shape

(2174, 17)

### Address date related features

In [114]:
from datetime import datetime

# Convert date columns to datetime
merged_df['Member_Joined_On'] = pd.to_datetime(merged_df['Member_Joined_On'])
merged_df['Last_Sale_Date'] = pd.to_datetime(merged_df['Last_Sale_Date'])

# Define a reference date (using the most recent date in the dataset could be one approach)
reference_date = max(merged_df['Member_Joined_On'].max(), merged_df['Last_Sale_Date'].max())

# Calculate duration of membership in days
merged_df['Membership_Duration'] = (reference_date - merged_df['Member_Joined_On']).dt.days

In [115]:
# Extract year and month from Last_Sale_Date
merged_df['Join_On_Year'] = merged_df['Member_Joined_On'].dt.year
merged_df['Join_On_Month'] = merged_df['Member_Joined_On'].dt.month

In [116]:
merged_df=merged_df.drop(['Member_Joined_On', 'Last_Sale_Date', 'Last_Schedule_Date'], axis = 1)

### Remove outliers

In [117]:
merged_df.shape

(2174, 17)

In [118]:
merged_df.columns

Index(['Client_ID', 'Sale_Frequency', 'Preferred_Service_Time',
       'Favorite_Sales_Item', 'Ever_Purchased_Addons',
       'Ever_Purchased_Chair_Session', 'Ever_Purchased_Manager_Owner_Session',
       'Ever_Late_Cancel', 'Non_Member_Purchase_Rate', 'Member_Status',
       'Member_Next_Autopay_Amount', 'Member_Age', 'Schedule_Frequency',
       'Favorite_Therapist', 'Membership_Duration', 'Join_On_Year',
       'Join_On_Month'],
      dtype='object')

In [119]:
merged_df = merged_df[(merged_df['Member_Age']>=18)&(merged_df['Member_Age']<=80)]

In [120]:
merged_df.shape

(2142, 17)

In [121]:
(merged_df['Member_Status'] == 'Active').sum()

924

In [122]:
(merged_df['Member_Status'] == 'Inactive').sum()

1218

In [123]:
merged_df.to_csv('merged_data.csv', index=False)